div.displayPanels {
    width: 23%;
    height: 340px;
    float: left;
    color: black;
    margin-right: 5px;
    margin-left: 5px;
    border: 2px solid black;
    background-color:white;
    overflow:overlay;
    margin-bottom: 5px;
  }
  .displayPanels h3{
      color: tomato;
      text-align: center;
      
  }
  #allJobs{
    width: 23%;
    padding: 20px;
    float: left;
    border: 2px solid black;
    /* background-color: red; */
    margin-right: 5px;
    margin-left:10px ;
    position: relative;
    overflow:overlay;
    background-color: #464d77;
  }
  #App-header {
    background-color: #f49d6e;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 300;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 40px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height:2px;
     text-align: center;
  }
  .App {
    text-align: center;
  }
  #jobDisplay{
      padding-top: 8px;
  }
  .jobCards{
      display : block;
      height: 110px;
      /* border-style: solid;
      border-width: thin; */
      margin-top: 3px;
      white-space: normal;
      text-align: center;
      line-height: 1px;
      background-color: #E8Ebf7
  }
  .jobText{
    padding-top: 15px;
  }
  .cardImage{
    border-radius: 8px; 
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 90px;
    float: left;
    height: 90px;
  }
  #select-button{
    background-color: #0563af; 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .dropdownitem{
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none
  }
  .dropdownitem::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  .dropdownitem:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }